.strikethrough {
  text-decoration: line-through;
}
.todo {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-filters {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.todo-input {
  display: flex;
  gap: 0.5rem;
}

.todo-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.todo-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
